footer {
    display: flex;
    margin-top: 100px;
    background-color: #424242;
    height: 300px;
    justify-content: space-evenly;

    padding: 20px 10px 37px 10px

}

.col {
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    color: #dddddd;


}
